{% extends '_base_form.html' %}

{% load static %}

{% block scss %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'pages/css/feedback.scss' %}">
{% endblock %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
    <form class="form" method="post" enctype="multipart/form-data" id="feedbackForm">
        {% csrf_token %}

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.name }}
                    {{ form.name.label_tag }}
                </div>
                <div class="field-icons">
                    <img src="{% static 'base/img/forms/user.svg' %}" alt="user">
                </div>
            </div>
            {{ form.errors.name }}
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.email }}
                    {{ form.email.label_tag }}
                </div>
                <div class="field-icons">
                    <img src="{% static 'base/img/forms/email.svg' %}" alt="email">
                </div>

            </div>
            {{ form.errors.email }}
        </div>
        <div class="form-field ">
            <div class="field-input-wrapper">
                <div class="field-input text">
                    {{ form.text }}
                    {{ form.text.label_tag }}
                </div>
            </div>
            {{ form.errors.text }}
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input captcha">
                    {{ form.captcha }}
                </div>
            </div>
            {{ form.errors.captcha }}
        </div>

        <div class="feedback-files-loader">
            <label for="feedbackFileInput" class="button">
                <input type="file" name="files" accept="*/*" id="feedbackFileInput" multiple>
                Прикрепить файлы
            </label>
        </div>

        <div class="feedback-files"></div>

        <button type="submit" class="button success wide" id="feedbackFormSubmit">
            Отправить
        </button>

    </form>
{% endblock %}

{% block javascript %}
    <script src="{% static 'pages/js/feedback.js' %}"></script>
{% endblock %}