{% extends '_base.html' %}

{% load static %}
{% load compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'base/css/forms.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'pages/css/feedback.scss' %}">
    {% endcompress %}
{% endblock %}

{% block title %}
    Обратная связь
{% endblock %}

{% block content %}
    <form class="form" method="post" enctype="multipart/form-data" id="feedbackForm">
        {% csrf_token %}

        <div class="form-field">
            <div class="field-input">
                {{ form.name }}
                {{ form.name.label_tag }}
                {{ form.errors.name }}
            </div>
            <div class="field-icon">
                <img src="{% static 'base/img/forms/user.svg' %}" alt="user">
            </div>
        </div>

        <div class="form-field">
            <div class="field-input">
                {{ form.email }}
                {{ form.email.label_tag }}
                {{ form.errors.email }}
            </div>
            <div class="field-icon">
                <img src="{% static 'base/img/forms/email.svg' %}" alt="email">
            </div>
        </div>
        <div class="form-field ">
            <div class="field-input text">
                {{ form.text }}
                {{ form.text.label_tag }}
                {{ form.errors.text }}
            </div>
        </div>

        <div class="feedback-files-loader">
            <label for="feedbackFileInput" class="button">
                <input type="file" name="files" accept="*/*" id="feedbackFileInput" multiple>
                Прикрепить файлы
            </label>
        </div>

        <div class="feedback-files"></div>

        <button type="submit" class="button success wide" id="feedbackFormSubmit">
            Отправить
        </button>

    </form>
{% endblock %}

{% block javascript %}

    <script src="{% static 'pages/js/feedback.js' %}"></script>
    <script src="{% static 'base/js/uuid.min.js' %}"></script>
{% endblock %}