{% extends '_base.html' %}
{% load compress %}
{% load static %}

{% block title %}
    Договор оферты
{% endblock %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'pages/css/offer.scss' %}">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="container with-margin">
        <div class="offer">
            <h3 class="offer-header">
                Договор-оферта
            </h3>
            <ol class="offer-body">
                <li>Общие положения
                    <ol>
                        <li>
                            Данный документ является публичной офертой Ковбий Снежанны Геннадьевны, в дальнейшем
                            именуемого «Исполнитель», и содержит все существенные условия договора на оказание
                            информационно-консультационных услуг (в соответствии со статьей 435 и частью 2 статьи
                            437 Гражданского кодекса РФ).
                        </li>
                        <li>
                            Лицо, осуществившее акцепт настоящей публичной оферты, приобретает все права и
                            обязанности Заказчика, предусмотренные настоящим договором.
                        </li>
                        <li>
                            Акцептом настоящей публичной оферты является осуществление Заказчиком полной или
                            частичной оплаты информационно-консультационных услуг в соответствии с условиями
                            настоящего договора. С момента поступления денежных средств в счет оплаты оказываемых услуг
                            на расчетный счет Исполнителя, настоящий договор считается заключенным между Заказчиком и
                            Исполнителем.
                        </li>
                        <li>
                            Принятие настоящей Оферты и соответственно, заключение настоящего Договора означает,
                            что Заказчик в необходимой для него степени ознакомился с условиями настоящего договора
                            и правилами платежной системы (далее - Системы), спецификой функционирования Системы и
                            сайта, на котором размещаются обучающие материалы, признает безусловную пригодность Системы,
                            сайта для совершения действий и достижения целей, являющихся предметом настоящего договора.
                        </li>
                        <li>
                            Осуществляя акцепт настоящей оферты, Заказчик подтверждает, что оказание Исполнителем
                            услуг по настоящему договору дистанционно с использованием программного обеспечения
                            (далее - ПО) полностью соответствует возможности Заказчика пользоваться услугами,
                            оказываемыми таким способом.
                        </li>
                        <li>
                            Актуальный договор-оферта всегда находится по адресу:
                            <b><a href="{% url 'offer' %}">{{ abs_url }}</a></b>
                        </li>
                        <li>
                            В настоящем договоре, если из его текста прямо не вытекает иное, следующие слова и
                            выражения будут иметь указанные ниже значения:
                            <ol>
                                <li>
                                    Договор – настоящий документ, опубликованный в сети Интернет, а также
                                    направляемый в целях ознакомления посредством электронной почты либо предоставляемый
                                    в целях ознакомления любыми другими способами.
                                </li>
                                <li>
                                    Заказчик – получатель услуг по настоящему договору.
                                </li>
                                <li>
                                    Услуга – предоставляемые на возмездной основе видео-записи практических
                                    тренингов и мастер-классов, направленные на передачу Заказчику
                                    знаний, навыков по созданию свадебных и вечерних причесок с иcпользованием
                                    собственных методов и методик.
                                </li>
                                <li>
                                    Программное обеспечение (ПО) – браузер (InternetExplorer, FireFox, GoogleChrome
                                    и аналогичные) для доступа к информационным ресурсам, находящихся в сети Интернет,
                                    иные программы для передачи, хранения, обработки предоставляемой информации.
                                    Заказчик обязуется самостоятельно обеспечить наличие ПО на своем персональном
                                    компьютере.
                                </li>
                                <li>
                                    Сайт - совокупность информации, текстов, графических элементов, дизайна,
                                    изображений, фото и видеоматериалов и иных результатов интеллектуальной
                                    деятельности, а также программ для ЭВМ, содержащихся в информационной системе,
                                    обеспечивающей доступность такой информации в сети Интернет по сетевому адресу
                                    <b><a href="{{ domain }}">{{ domain }}</a></b>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>Предмет договора-оферты
                    <ol>
                        <li>
                            Предметом настоящей оферты является возмездное оказание Заказчику
                            информационно-консультационных услуг в сфере получения навыков по созданию свадебных и
                            вечерних причесок в рамках программы «Свадебные прически».
                        </li>
                        <li>
                            Оказание услуг осуществляется путем размещения Исполнителем в закрытом разделе Сайта
                            обучающего материала для Заказчика, направленных на передачу знаний и навыков
                            при прохождении обучающей программы. Услуги по настоящему договору ограничены
                            предоставлением Заказчику информации и формированием навыков для ее самостоятельного
                            использования.
                        </li>
                        <li>
                            Услуги по настоящему договору оказываются Исполнителем дистанционно через сеть Интернет,
                            посредством программного обеспечения (ПО).
                        </li>
                    </ol>
                </li>
                <li>Сроки оказания услуг и порядок их переноса
                    <ol>
                        <li>
                            Срок оказания услуг по настоящему договору – 1 (один) календарный год с даты оплаты
                            материала на Сайте.
                        </li>
                        <li>
                            Содержание обучающей программы размещаются на Сайте и в закрытом разделе
                            Сайта.
                        </li>
                        <li>
                            Заказчик вправе обратиться к Исполнителю с письменным заявлением о переносе сроков
                            оказания оплаченных услуг по настоящему договору с приложением документов,
                            подтверждающих невозможность получения услуг в соответствующем потоке обучения: справки о
                            нахождении в стационаре, о стихийных бедствиях, а также иных событий, делающих невозможным
                            получение Заказчиком услуг, предусмотренных настоящим договором.
                            Исполнитель вправе, но не обязан удовлетворить указанное обращение при наличии в
                            совокупности следующих условий:
                            <ul>
                                <li>
                                    Заказчик обратился в срок не позднее, чем через 30 (тридцать) календарных
                                    дня после даты начала соответствующего потока обучающей программы;
                                </li>
                                <li>
                                    представленные Заказчиком документы подтверждают невозможность получения услуг в
                                    соответствующем потоке обучения;
                                </li>
                                <li>
                                    имеется реальная возможность включить Заказчика в следующий поток обучающей
                                    программы.
                                </li>
                            </ul>
                            В случае обращения Заказчика с указанным заявлением по истечении установленного
                            настоящим пунктом срока, Исполнитель вправе удовлетворить заявление при условии
                            дополнительной оплаты Заказчиком еще 50% от стоимости приобретенного курса. Заказчик имеет
                            право на 1 (один) бесплатный перенос по оплаченному курсу.
                        </li>
                        <li>
                            Услуги по настоящему договору считаются оказанными с надлежащим качеством и в срок, а
                            также принятыми Заказчиком, если в течение 3 (трех) календарных дней по истечению срока,
                            указанного в п. 3.1 настоящего договора, Заказчик не заявил мотивированного возражения
                            на качество и объем таких услуг путем отправки соответствующей обращения по адресу
                            {{ support_email }}
                        </li>
                        <li>
                            Доступ к обучающим материалам сохраняется за Заказчиком в течение 1 (одного)
                            календарного месяца после завершения обучающей программы в сроки, установленные п. 3.1.
                            настоящего договора.
                        </li>
                    </ol>
                </li>
                <li>Права и обязанности сторон
                    <ol>
                        <li>Исполнитель обязуется:
                            <ol>
                                <li>
                                    предоставить Заказчику персональный доступ к обучающей программе в закрытом
                                    разделе Сайта в течение 24 часов с момента поступления оплаты от Заказчика.
                                    Доступ к обучающим материалам обеспечивается Исполнителем путем разблокировки
                                    доступа к закрытому разделу Сайта.
                                </li>
                                <li>
                                    довести до сведения Заказчика сведения о планируемой программе обучения путем
                                    размещения в закрытом разделе Сайта.
                                </li>
                                <li>
                                    сохранять конфиденциальную информацию, полученную от Заказчика, при оказании
                                    информационно-консультационных услуг по настоящему договору.
                                </li>
                                <li>
                                    соблюдать требования законодательства, касающиеся обработки, передачи и
                                    защиты персональных данных Заказчика.
                                </li>
                            </ol>
                        </li>
                        <li>Исполнитель вправе:
                            <ol>
                                <li>
                                    изменять в одностороннем порядке график размещения обучающего материала,
                                    проведения обратной связи и иных консультаций, не меняя при этом установленную
                                    периодичность их проведения, а также менять и дополнять содержание уроков и заданий
                                    для Заказчика.
                                </li>
                                <li>
                                    требовать от Заказчика добросовестного исполнения взятых на себя обязательств.
                                </li>
                                <li>
                                    в одностороннем порядке изменять и дополнять условия настоящего договора, без
                                    предварительного согласования с Заказчиком, обеспечивая при этом публикацию
                                    измененных условий на сайте
                                    <a href="{{ abs_url }}">{{ abs_url }}</a>,
                                    не менее чем за один день до их введения в действие.
                                </li>
                                <li>
                                    в одностороннем порядке расторгнуть настоящий договор в случае существенного
                                    нарушения Заказчиком условий настоящего Договора. При этом денежные средства,
                                    оплаченные Заказчиком по настоящему договору, возврату не подлежат и являются
                                    штрафной неустойкой за действия Заказчика.
                                    Под существенным нарушением условий настоящего Договора понимается любое
                                    нарушение авторских прав, регламентированных действующим законодательством РФ "Об
                                    авторском праве", в том числе однократное нарушение Заказчиком п. 4.3.5.настоящего
                                    договора. По усмотрению Исполнителя в зависимости от характера нарушения
                                    существенным может быть признано любое нарушение Заказчиком правил, установленных п.
                                    4.3.2. - 4.3.9. настоящего договора, совершенное однократно и/или более двух раз.
                                </li>
                                <li>
                                    заблокировать участие Заказчика на Обратной связи или в комментариях к
                                    видео-урокам без права на возврат денежных средств в случае нарушения правил
                                    поведения в процессе получения услуг по настоящему договору, а именно: разжигание
                                    межнациональных конфликтов, отвлечение участников от темы вебинара, спам, размещение
                                    рекламы, нецензурные высказывания, хамство, общие призывы к недоверию либо
                                    оскорбление Исполнителя, оскорбление иных участников обучающей программы.
                                    Исполнитель вправе заблокировать участие Заказчика по условиям настоящего пункта
                                    временно или до окончания обучающей программы.
                                </li>
                                <li>
                                    привлекать для оказания услуг в соответствии с настоящим договором третьих лиц.
                                    При этом Исполнитель не несет ответственность за противоправные действия третьих лиц
                                    при оказании услуг по настоящему договору, но прилагает все усилия для обеспечения
                                    защиты прав и интересов Заказчика.
                                </li>
                            </ol>
                        </li>
                        <li>Заказчик обязуется:
                            <ol>
                                <li>
                                    для получения услуг по настоящему договору Заказчик должен иметь персональный
                                    компьютер с доступом в сеть Интернет, оборудованный наушниками и микрофоном, а
                                    так же с установленным ПО.
                                </li>
                                <li>
                                    после выбора услуги, принятия настоящей публичной оферты и оплаты в полном
                                    объеме или частично информационно-консультационных услуг придерживаться
                                    установленного графика обучающей программы, целей и сути выполнения заданий
                                    Исполнителя, выполнять рекомендации и требования Исполнителя в рамках оказания услуг
                                    по настоящему договору.
                                </li>
                                <li>
                                    предоставить Исполнителю актуальную информацию, необходимую для направления
                                    Заказчику информационных материалов, а также для оперативной связи с Заказчиком
                                    в рамках оказания услуг по настоящему договору, а именно: фамилия и имя,
                                    действующий почтовый ящик, контактный телефон.
                                </li>
                                <li>
                                    соблюдать правила поведения на занятиях с Обратной связью и проявлять уважение к
                                    Исполнителю, другим участникам обучающей программы.
                                </li>
                                <li>
                                    не осуществлять запись, не распространять (публиковать, размещать на
                                    Интернет-сайтах, копировать, передавать или перепродавать третьим лицам) в
                                    коммерческих или некоммерческих целях предоставляемую Исполнителем Заказчику
                                    информацию и материалы в рамках настоящего договора, создавать на ее основе
                                    информационные продукты с целью извлечения коммерческой прибыли, а также
                                    использовать эту информацию каким-либо иным образом, кроме как для личного
                                    пользования.
                                </li>
                                <li>
                                    не передавать третьим лицам и обеспечивать конфиденциальность паролей доступа к
                                    личному кабинету в закрытом разделе Сайта и в специальное ПО, используемое для
                                    организации Исполнителем услуг по настоящему договору.
                                </li>
                                <li>
                                    не изменять каким бы то ни было способом программную часть Сайта, совершать
                                    действия, направленные на изменение функционирования и работоспособности Сайта.
                                </li>
                                <li>
                                    не размещать на Сайте персональные данные третьих лиц без их согласия, в том
                                    числе домашние адреса, телефоны, паспортные данные, адреса электронной почты.
                                </li>
                                <li>
                                    не размещать на Сайте коммерческую рекламу, коммерческие предложения,
                                    агитационную информацию и любую другую навязчивую информацию, кроме случаев, когда
                                    размещение такой информации согласовано с Исполнителем.
                                </li>
                            </ol>
                        </li>
                        <li>Заказчик имеет право:
                            <ol>
                                <li>
                                    потребовать возврата оплаченных денежных средств в течение 14 (четырнадцати)
                                    календарных дней с момента начала обучения (получения доступа к урокам) в
                                    соответствии с правилами, установленными настоящим договором. Заявление о
                                    возврате оплаченных сумм Заказчиком направляется на электронный адрес:
                                    {{ support_email }}
                                </li>
                                <li>
                                    обратиться к Исполнителю с письменным заявлением о переносе сроков оказания
                                    оплаченных услуг по настоящему договору в соответствии с правилами, изложенными
                                    в п. 3.5. настоящего договора.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>Стоимость услуг и порядок оплаты
                    <ol>
                        <li>
                            Стоимость информационно-консультационных услуг по настоящему договору указывается на
                            Сайте {{ domain }} и может быть изменена Исполнителем в любое время в
                            одностороннем порядке. Новая стоимость вступает в силу с момента опубликования и не
                            распространяется на оплаченные к моменту опубликования услуги.
                        </li>
                        <li>
                            Оплата выбранной услуги производится Заказчиком путем зачисления денежных средств в
                            порядке предоплаты на расчетный счет Исполнителя в размере 100% от стоимости услуг.
                        </li>
                        <li>
                            Моментом оплаты считается поступление денежных средств на расчетный счет Исполнителя.
                        </li>
                    </ol>
                </li>
                <li>Условия и порядок возврата денежных средств
                    <ol>
                        <li>Возврат денежных средств Исполнителем осуществляется по заявлению Заказчика,
                            направленного на электронный адрес:{{ support_email }}
                            не позднее 14 (четырнадцати) календарных дней с момента начала обучения по графику (либо
                            получения доступа к урокам), за исключением следующих случаев:
                            <ol>
                                <li>
                                    В процессе обучения у Заказчика возникли проблемы личного характера (проблемы со
                                    здоровьем, смена жизненных интересов и приоритетов и другие подобные проблемы), по
                                    которым Исполнитель не может нести ответственность, и Заказчик не обращался с
                                    заявлением о переносе сроков обучения по курсу (п. 3.5. настоящего договора) .
                                </li>
                                <li>
                                    Заказчик не запрашивал помощь у Исполнителя для решения возникших в процессе
                                    обучения вопросов.
                                </li>
                                <li>
                                    Заказчик нарушил сроки выполнения домашних заданий и сдачи отчетов по ним, указанные
                                    в п. 3.4. настоящего договора.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Возврат денежных средств осуществляется при отсутствии оснований для отказа в возврате,
                            установленных п. 6.1. настоящего договора, за вычетом фактических затрат Исполнителя на
                            момент возврата. К таким фактическим затратам Исполнителя относятся (но не ограничиваются) в
                            частности комиссии банковских, кредитных организаций и соответствующих платежных систем за
                            осуществление возврата денежных средств, заработная плата сотрудников Исполнителя,
                            участвующих в обучающей программе, расходы на использованное Исполнителем в процессе
                            обучения ПО или оплату услуг третьих лиц, а также стоимость бонусных материалов,
                            предоставленных Заказчику, но не более 7000 (семи тысяч) рублей. Кроме того, к фактическим
                            затратам относятся стоимость предоставленных Заказчику обучающих материалов, организованных
                            Исполнителем Занятий и иных онлайн-встреч, даже если Заказчик не использовал материалы и не
                            участвовал в Занятиях без уважительных причин, подтвержденных документально.
                        </li>
                        <li>
                            Решение о возврате или об отказе в возврате денежных средств принимается Исполнителем в
                            течение 10 (десяти) рабочих дней с момента получения соответствующего заявления Заказчика.
                        </li>
                        <li>
                            Денежные средства возвращаются на счет Заказчика, с которого производилась оплата обучения,
                            либо иной счет, указанный Заказчиком, в течение 14 (четырнадцати) рабочих дней после
                            принятия решения о возврате.
                        </li>
                        <li>
                            Требование о возврате оплаченных сумм, предъявленное Заказчиком позже сроков, установленных
                            пунктами 6.1. настоящего договора, Исполнителем рассматривается, если Заказчик предоставит
                            письменные доказательства того, что соответствующая услуга, входящая в приобретенный пакет
                            услуг, не была оказана (оказана ненадлежащим образом) по вине Исполнителя. В случае
                            установления факта неоказания услуг (оказании услуг ненадлежащего качества) по
                            соответствующей опции приобретенных услуг Исполнитель осуществляет возврат денег за минусом
                            фактических затрат Исполнителя, определяемых на момент возврата по правилам п. 6.2.
                            настоящего договора.
                        </li>
                        <li>
                            Исполнитель оставляет за собой право отклонить заявку Заказчика на возврат денежных средств
                            в случае появления со стороны Заказчика неуважительного отношения к Исполнителю или иным
                            участникам обучающей программы.
                        </li>
                        <li>
                            В случае удовлетворения заявления о возврате доступ к обучающим материалам для Заказчика
                            прекращается в течение 1 (одного) рабочего дня с даты направления Исполнителем Заказчику
                            решения о соответствующем возврате. Указанное требование Заказчика о возврате также
                            считается отзывом заранее данного акцепта, указанного в пункте 1.2 настоящего договора.
                        </li>
                        <li>
                            Заявления о возврате денежных средств, направленное Исполнителю по истечении 3 (трех)
                            календарных дней после завершения обучающей программы (п. 3.6. настоящего договора) не
                            рассматриваются.
                        </li>
                    </ol>
                </li>
                <li>Ответственность сторон
                    <ol>
                        <li>
                            Исполнитель не несет ответственности за невозможность оказания услуг Заказчику по причинам,
                            не зависящим от Исполнителя, а именно: нарушение работы Интернета, оборудования или ПО со
                            стороны Заказчика. В данном случае услуги считаются оказанными надлежащим образом и
                            подлежащим оплате в полном размере.
                        </li>
                        <li>
                            Никакая информация, материалы и/или консультации, предоставляемые Исполнителем в рамках
                            оказания услуг по настоящему договору, не могут рассматриваться как гарантии. Принятие
                            решений на основе всей предоставленной Исполнителем информации находится в исключительной
                            компетенции Заказчика. Заказчик принимает на себя полную ответственность и риски, связанные
                            с использованием информации и материалов, предоставленных Исполнителем в рамках исполнения
                            своих обязательств по настоящему Договору.
                        </li>
                        <li>
                            Исполнителем не гарантируется абсолютная бесперебойность предоставления услуг по настоящему
                            договору, несмотря на то, что Исполнитель предпринимает все возможные меры с целью
                            недопущения вышеперечисленного. В случае неудовлетворительного качества интернет-соединения,
                            стабильная работа ПО не гарантируется, в этом случае получение услуг по настоящему договору
                            может оказаться затруднительным или невозможным.
                        </li>
                        <li>
                            Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение
                            обязательств по настоящему договору на время действия непреодолимой силы. В течение этого
                            времени стороны не имеют взаимных претензий, и каждая из сторон принимает на себя свой риск
                            последствия форс–мажорных обстоятельств. О возникновении таких обстоятельств Исполнитель
                            обязан уведомить Заказчика путем размещения информации на Сайте и/или на электронный
                            почтовый ящик, указанный Заказчиком при совершении оплаты, а Заказчик обязан направить
                            Исполнителю письмо на электронную почту {{ support_email }} с указанием в строке Тема
                            "Форс-мажор". Под обстоятельствами непреодолимой силы (форс-мажорными обстоятельствами)
                            Стороны понимают: пожар, наводнение, землетрясение, забастовки и другие стихийные бедствия,
                            война и военные действия, вступление в силу нормативных правовых актов и актов применения
                            права, препятствующих исполнению обязательств, вынужденная срочная (не плановая)
                            госпитализация, подтвержденная документально, если вышеперечисленные обстоятельства
                            находятся вне контроля Сторон, препятствуют выполнению настоящего договора и возникли после
                            заключения настоящего договора. Отсутствие времени у Заказчика по любым основаниям для
                            прохождения обучающей программы, нахождение в отпуске, командировке, неоплата доступа к сети
                            Интернет, поломка средства доступа к сети Интернет не являются обстоятельствами
                            непреодолимой силы (форс-мажорными обстоятельствами).
                        </li>
                        <li>
                            Совокупная ответственность Исполнителя по настоящему договору по любому иску или претензии в
                            отношении договора или его исполнения ограничивается суммой платежа, уплаченного Исполнителю
                            Заказчиком. При этом с Исполнителя может быть взыскан только реальный ущерб, но не упущенная
                            выгода.
                        </li>
                    </ol>
                </li>
                <li>Персональные данные и их использование
                    <ol>
                        <li>
                            Заказчик дает свое согласие Исполнителю на обработку своих персональных данных,
                            предоставленных при регистрации в закрытом разделе Сайта, а именно:
                            <ul>
                                <li>имя, фамилия</li>
                                <li>имя пользователя</li>
                                <li>фотография</li>
                                <li>адрес электронной почты</li>
                                <li>контактный телефон</li>
                                <li>аккаунты в программах обмена сообщениями и социальных сетях</li>
                            </ul>
                        </li>
                        <li>
                            Обработка персональных данных означает запись, систематизацию, накопление, хранение,
                            уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
                            предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
                            данных, не подпадающих под специальные категории, на обработку которых, согласно
                            действующему законодательству Российской Федерации, требуется письменное согласие Заказчика.
                        </li>
                        <li>
                            Обработка персональных данных производится в целях исполнения Исполнителем обязательств по
                            настоящему договору, обеспечения Заказчика обратной связью при использовании Сайта, программ
                            обучения, видео-курсов, а также в целях направления на указанный Заказчиком при регистрации
                            адрес электронной почты информационных и рекламных сообщений.
                        </li>
                        <li>
                            Обработка персональных данных Заказчика производится Исполнителем с использованием баз
                            данных на территории Российской Федерации.
                        </li>
                        <li>
                            Заказчик может в любое время отозвать согласие на обработку персональных данных, направив
                            Исполнителю соответствующее уведомление на адрес: {{ support_email }}.
                            При этом Заказчик понимает и признает, что отзыв на обработку персональных данных может
                            потребовать удаления любой информации, касающейся участия Заказчика в обучающей программе, в
                            том числе удаления учетной записи Заказчика в закрытом разделе Сайта и прекращения доступа к
                            материалам приобретенного курса.
                        </li>
                        <li>
                            Заказчик дает согласие на получение информационных рассылок и рекламных материалов от
                            Исполнителя, либо от иных лиц по поручению Исполнителя, на адрес электронной почты и
                            контактный телефон, указанные Заказчиком при регистрации на Сайте. Согласие на получение
                            информационных рассылок и рекламных материалов может быть отозвано Заказчиком в любое время
                            путем направления Исполнителю соответствующего уведомления на адрес: {{ support_email }}
                        </li>
                        <li>
                            Заказчик дает свое согласие на использование его изображения в качестве фотографии Заказчика
                            (аватара) Исполнителем на безвозмездной основе.
                        </li>
                    </ol>
                </li>
                <li>Защита авторских прав
                    <ol>
                        <li>
                            Сайт содержит результаты интеллектуальной деятельности, принадлежащие Исполнителю, его
                            аффилированным лицам и другим связанным сторонам, представителям, всем прочим лицам,
                            действующим от имени Исполнителя.
                        </li>
                        <li>
                            Используя Сайт, Заказчик признает и соглашается с тем, что все содержимое Сайта и структура
                            содержимого Сайта защищены авторским правом, правом на товарный знак и другими правами на
                            результаты интеллектуальной деятельности, и что указанные права являются действительными и
                            охраняются во всех формах, на всех носителях и в отношении всех технологий, как существующих
                            в настоящее время, так и разработанных или созданных впоследствии. Никакие права на любое
                            содержимое Сайта, включая, помимо прочего, аудиовизуальные произведения, текстовые и
                            графические материалы, программы для ЭВМ, товарные знаки не переходят к Заказчику в
                            результате пользования Сайтом и заключения настоящего договора.
                        </li>
                        <li>
                            При цитировании материалов Сайта, если это прямо предусмотрено функциями Сайта, Заказчик
                            обязуется указывать ссылку на Сайт.
                        </li>
                        <li>
                            В случае нарушения Заказчиком положений настоящего договора, касающихся защиты авторских
                            прав Исполнителя, последний вправе потребовать выплаты компенсации в размере 100000 (сто
                            тысяч) рублей за каждый случай нарушения, а также компенсации всех причиненных убытков,
                            включая упущенную выгоду.
                        </li>
                    </ol>
                </li>
                <li>Заключительные положения
                    <ol>
                        <li>
                            Настоящий договор вступает в силу с момента акцепта Заказчика в соответствии с п. 1.3.
                            договора и действует до полного исполнения обязательств сторонами.
                        </li>
                        <li>
                            Все споры и разногласия между сторонами разрешаются путем переговоров, либо в судебном
                            порядке в соответствии с действующим законодательством РФ по месту регистрации Исполнителя.
                        </li>
                        <li>
                            Бездействие со стороны Исполнителя в случае нарушения Заказчиком положений настоящего
                            договора не лишает Исполнителя права предпринять позднее соответствующие действия в защиту
                            своих интересов и защиту интеллектуальных прав на охраняемые в соответствии с
                            законодательством материалы Сайта.
                        </li>
                        <li>
                            Признание судом какого-либо положения настоящего договора недействительным или не подлежащим
                            принудительному исполнению не влечет недействительности иных его положений.
                        </li>
                    </ol>
                </li>
            </ol>
            <div class="offer-footer">
                <p>Реквизиты Исполнителя:</p>
                <p>Ковбий Снежанна Геннадьевна</p>
                <p>г. Амурск, ИНН: 270603981667</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}

