{% extends '_base_form.html' %}
{% load static %}

{% block title %}Отправка чека{% endblock %}

{% block content %}
    <form class="form" action="{% url 'send_check' object.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
            </div>
            {{ form.errors.email }}
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.payment_id.label }}
                    {{ form.payment_id }}
                </div>
            </div>
            {{ form.errors.payment_id }}
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.check_file }}
                </div>
            </div>
            {{ form.errors.check_file }}
        </div>

        <button class="button">Отправить чек</button>
    </form>
{% endblock %}