{% extends 'email_templates/base_email.html' %}
{% load account %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% block email_header %}

{% endblock %}

{% block email_body %}
    {% user_display user as user_display %}
    <table role="password">
        <tr role="password-desc-row">
            <td class="b-b pb-10" align="center">
                Вы получили это письмо, потому что Вы или кто-то другой запросил сброс пароля для вашей учетной
                записи пользователя.
            </td>
        </tr>
        <tr role="password-warning-row">
            <td class="b-b py-10 fw-700 fz-20" align="center">
                {% include 'email_templates/includes/password-warning-message.html' %}
            </td>
        </tr>
        <tr role="password-reset-row">
            <td>
                <table>
                    <tr role="password-reset-desc">
                        <td class="pb-20" align="center">
                            Чтобы сбросить пароль, нажмите на кнопку:
                        </td>
                    </tr>
                    <tr role="password-reset-button">
                        <td align="center">
                            {% include 'email_templates/includes/button.html' with a_url=password_reset_url a_text="Сбросить пароль" %}
                        </td>
                    </tr>
                    <tr role="password-reset-link">
                        <td>
                            <table>
                                <tr role="password-reset-link-desc">
                                    <td class="pb-10" align="center">
                                        Если кнопка не отображается, перейдите по ссылке ниже:
                                    </td>
                                </tr>
                                <tr role="password-reset-url">
                                    <td align="center">
                                        <a class="fw-400 fz-14 is-inline-block"
                                           href="{{ password_reset_url }}">
                                            {{ password_reset_url }}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        {% if username %}
            <tr role="password-reset-username">
                <td class="pt-10">
                    Если вы забыли, то напоминаем, что Ваше имя пользователя - {{ username }}.
                </td>
            </tr>
        {% endif %}

    </table>
{% endblock %}
