{% extends '_base.html' %}
{% load static %}
{% load user %}
{% load compress %}

{% block title %}
    Купить курс
{% endblock %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "base/css/forms.scss" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "courses/css/buy.scss" %}">
    {% endcompress %}
{% endblock %}

{% block content %}
    <form class="form"
          method="post"
          action="{% url 'create_payment' %}">
        {% csrf_token %}

        <input type="hidden"
               name="description"
               value="Доступ к онлайн-курсу ДОМАШНИЙ АБОНЕМЕНТ"
               id="id_description">
        <input type="hidden"
               name="amount"
               id="id_amount"
               value="1500">
        <input type="hidden"
               name="user_id"
               id="id_user_id"
               value="{{ user.id }}">

        <h2 class="form-header">ДОМАШНИЙ АБОНЕМЕНТ</h2>
        <div class="buy-block">
            <h4 class="centered buy-header">После покупки курса вы получите:</h4>
            <ul class="buy-points">
                <li>8 огненных тренировок</li>
                <li>Опыт в 2-х фитнес-направлениях</li>
                <li>Более 7 часов уникальной программы</li>
                <li>30 танцев под разные музыкальные направления</li>
                <li>Багаж разных упражнений на все группы мышц</li>
            </ul>
            <div class="buy-profile">
                <p>Все уроки будут доступны в личном кабинете на сайте после оплаты курса.</p>
            </div>
            <div class="buy-price">
                <div class="buy-price-header">
                    Цена курса:
                </div>
                <div class="buy-price-cost">
                    1 500 ₽
                </div>

            </div>
            <div class="buy-button">
                {% if user.is_authenticated %}
                    <button class="button main wide">Купить курс</button>
                {% else %}
                    <p class="buy-user-not-auth">
                        Для покупки курса необходимо
                        <a class="underline bold" href="{% url 'account_signup' %}">зарегистрироваться</a>
                        на сайте.
                    </p>
                {% endif %}
            </div>
        </div>
    </form>


{% endblock %}

{% block javascript %}

{% endblock %}