{% extends '_base_form.html' %}

{% block title %}Страница не найдена{% endblock title %}

{% block content %}
    <div class="form">
        <h2 class="form-header">Ошибка 404</h2>
        <div class="form-text centered">
            <h4> Страница не найдена </h4>
            <br>
            <p>К сожалению, нам не удалось найти страницу, по которой вы перешли. Возможно, она еще не создана, или уже
                была
                удалена.</p>
        </div>
    </div>
{% endblock content %}
