{% extends '_base.html' %}
{% load static %}
{% load compress %}

{% block title %}Изменение пароля{% endblock title %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "base/css/forms.scss" %}">
    {% endcompress %}
{% endblock %}

{% block content %}

    <div class="form">
        <h3 class="form-header">Изменение пароля</h3>
        <div class="form-text centered">
            <p>
                Ваш пароль был успешно изменен!
            </p>
        </div>

        <a class="button wide" href="{% url 'account_login' %}">
            Войти
        </a>
    </div>

{% endblock content %}