{% extends '_base.html' %}
{% load static %}
{% load compress %}

{% block title %}Сброс пароля{% endblock %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "base/css/forms.scss" %}">
    {% endcompress %}
{% endblock %}

{% block content %}

    <div class="form">
        <h3 class="form-header">Сброс пароля</h3>
        <div class="form-text">
            <p>
                Мы отправили вам электронное письмо. Пожалуйста, свяжитесь с нами, если вы не получили его в течение
                нескольких минут.
            </p>
        </div>

        <a class="button wide" style="margin-bottom: 10px;" href="{% url 'home' %}">
            На главную
        </a>
        <a class="button wide" href="{% url 'account_login' %}">
            Войти
        </a>

    </div>

{% endblock content %}
