{% extends '_base_form.html' %}
{% load static %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

    <div class="form">
        <h3 class="form-header">Сброс пароля</h3>
        <div class="form-text">
            <p>
                Мы отправили вам электронное письмо. Пожалуйста, свяжитесь с нами, если вы не получили его в течение
                нескольких минут.
            </p>
        </div>

        <a class="button wide" style="margin-bottom: 10px;" href="{% url 'home' %}">
            На главную
        </a>
        <a class="button wide" href="{% url 'account_login' %}">
            Войти
        </a>

    </div>

{% endblock content %}
