{% extends '_base.html' %}
{% load static %}
{% load compress %}

{% block title %}Изменить пароль{% endblock title %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "base/css/forms.scss" %}">
    {% endcompress %}
{% endblock %}

{% block content %}
    {% if token_fail %}
        <div class="form">
            <h3 class="form-header">Неправильная ссылка</h3>
            <div class="form-text">
                <p>
                    Ссылка для сброса пароля недействительна. Возможно, она уже использовалась?
                </p>
                <p>
                    Пожалуйста, запросите
                    <a href="{% url 'account_reset_password' %}"
                       class="underline bold">
                        сброс пароля
                    </a>
                    еще раз.
                </p>
            </div>
        </div>
    {% else %}
        {% if form %}
            <form class="form" action="." method="post">
                {% csrf_token %}
                <h2 class="form-header">Новый пароль</h2>
                <div class="form-text">
                    <p> Пароль не должен быть слишком похож на другую вашу личную информацию. </p>
                    <p> Ваш пароль должен содержать как минимум 8 символов. </p>
                    <p> Пароль не должен быть слишком простым и распространенным. </p>
                    <p> Пароль не может состоять только из цифр. </p>
                </div>

                <div class="form-field">
                    <div class="field-input-wrapper">
                        <div class="field-input">
                            {{ form.password1 }}
                            {{ form.password1.label_tag }}
                        </div>
                        <div class="field-icons">
                        </div>
                        <img src="{% static 'base/img/forms/locked.svg' %}" alt="pass">
                    </div>
                    {{ form.errors.password1 }}
                </div>

                <div class="form-field">
                    <div class="field-input-wrapper">
                        <div class="field-input">
                            {{ form.password2 }}
                            {{ form.password2.label_tag }}
                        </div>
                        <div class="field-icons">
                            <img src="{% static 'base/img/forms/locked.svg' %}" alt="pass">
                            <img src="{% static 'base/img/forms/locked.svg' %}" alt="pass">
                        </div>
                    </div>
                    {{ form.errors.password2 }}
                </div>

                <button type="submit" class="button wide">Изменить пароль</button>
            </form>
        {% else %}
            <div class="form">
                <div class="form-text">
                    <p>
                        Пароль успешно изменен!
                    </p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}
