{% extends "_base_form.html" %}
{% block title %}Изменить пароль{% endblock %}

{% load static %}

{% block content %}
    <form class="form" action="{% url 'account_change_password' %}" method="post">
        {% csrf_token %}
        <h2 class="form-header">Новый пароль</h2>

        {% if form.non_field_errors %}
            <div class="errors-block">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-text">
            <p> Пароль не должен быть слишком похож на другую вашу личную информацию. </p>
            <p> Ваш пароль должен содержать как минимум 8 символов. </p>
            <p> Пароль не должен быть слишком простым и распространенным. </p>
            <p> Пароль не может состоять только из цифр. </p>
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.oldpassword }}
                    {{ form.oldpassword.label_tag }}
                </div>
                <div class="field-icons">
                    <img src="{% static 'base/img/forms/unlocked.svg' %}" alt="pass">
                </div>
            </div>
            {{ form.errors.oldpassword }}
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.oldpassword }}
                    {{ form.oldpassword.label_tag }}
                </div>
                <div class="field-icons">
                    <img src="{% static 'base/img/forms/locked.svg' %}" alt="pass">
                </div>
            </div>
            {{ form.errors.oldpassword }}
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.password2 }}
                    {{ form.password2.label_tag }}
                </div>
                <div class="field-icons">
                    <img src="{% static 'base/img/forms/locked.svg' %}" alt="pass">
                    <img src="{% static 'base/img/forms/locked.svg' %}" alt="pass">
                </div>
            </div>
            {{ form.errors.password2 }}
        </div>

        <button type="submit" class="button wide">Изменить пароль</button>
        <div class="centered">
            <a href="{% url 'account_reset_password' %}" class="underline">Забыли пароль?</a>
        </div>
    </form>

{% endblock %}
