{% extends '_base.html' %}
{% load static %}
{% load compress %}

{% block title %}Сбросить пароль{% endblock %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "base/css/forms.scss" %}">
    {% endcompress %}
{% endblock %}

{% block content %}

    <form class="form" method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <h3 class="form-header">Восстановление пароля</h3>
        <div class="form-text">
            <p>
                Введите ваш адрес электронной почты.
            </p>
            <p>
                После заполнения формы на вашу почту будет отправлено письмо с инструкцией по восстановлению пароля.
            </p>
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input">
                    {{ form.email }}
                    {{ form.email.label_tag }}
                </div>
                <div class="field-icons">
                    <img src="{% static 'base/img/forms/email.svg' %}" alt="email">
                </div>
            </div>
            {{ form.errors.email }}
        </div>

        <div class="form-field">
            <div class="field-input-wrapper">
                <div class="field-input captcha">
                    {{ form.captcha }}
                </div>
            </div>
            {{ form.errors.captcha }}
        </div>

        <button type="submit" class="button wide">Сбросить пароль</button>
    </form>

{% endblock content %}
