$width-1150px: 1150px;
$width-992px: 992px;
$width-768px: 768px;
$width-576px: 576px;
$width-350px: 350px;

@mixin media_screen_width($max-width) {
  @media screen and (max-width: $max-width) {
    @content
  }
}

@mixin media_screen_width-1150px {
  @include media_screen_width($width-1150px) {
    @content
  }
}

@mixin media_screen_width-992px {
  @include media_screen_width($width-992px) {
    @content
  }
}

@mixin media_screen_width-768px {
  @include media_screen_width($width-768px) {
    @content
  }
}

@mixin media_screen_width-576px {
  @include media_screen_width($width-576px) {
    @content
  }
}

@mixin media_screen_width-350px {
  @include media_screen_width($width-350px) {
    @content
  }
}

@mixin blur {
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px -5px black;
}

@mixin unblur {
  backdrop-filter: none;
  box-shadow: none;
}

// ######### ROOT #########

$text-color: #2a2a2a;
$light-text-color: #eaeaea;

$main-color: #d0730c;
$main-gradient-color: #da9348;

$container-width: 1150px;
$small-container-width: 900px;
$container-padding: 10px;

$vh: 1vh;

// ######### MAIL #########

$border-color: #cbcbcb;
$border-color-light: scale-color($border-color, $lightness: 30%);
$border: 1px $border-color solid;
$primary-color: #000000;
$secondary-color: #797979;
$background-color: #fff7f1;
$mail-container-width: 600px;
